<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1970</string>
	<string>1971</string>
	<string>1972</string>
	<string>1973</string>
	<string>1974</string>
	<string>1975</string>
	<string>1976</string>
	<string>1977</string>
	<string>1978</string>
	<string>1979</string>
	<string>1980</string>
	<string>1981</string>
	<string>1982</string>
	<string>1983</string>
	<string>1984</string>
	<string>1985</string>
	<string>1986</string>
	<string>1987</string>
	<string>1988</string>
	<string>1989</string>
	<string>1990</string>
	<string>1991</string>
	<string>1992</string>
	<string>1993</string>
	<string>1994</string>
	<string>1995</string>
	<string>1996</string>
	<string>1997</string>
	<string>1998</string>
	<string>1999</string>
	<string>2000</string>
	<string>2001</string>
	<string>2002</string>
	<string>2003</string>
	<string>2004</string>
	<string>2005</string>
	<string>2006</string>
	<string>2007</string>
	<string>2008</string>
	<string>2009</string>
	<string>2010</string>
	<string>2011</string>
	<string>2012</string>
	<string>2013</string>
	<string>2014</string>
	<string>2015</string>
	<string>2016</string>
	<string>2017</string>
</array>
</plist>
